.headerContainer{
    height: 60px;
    text-align:center;
    background-color: #2F2F2F;
    display: flex;
    justify-content: center;
}

.row{
    width: 1024px;
}

.col1{
    text-align: left;
}

.col2{
    text-align: right;
}