.navigation_inner {
    background-color: #979797;
    background-clip: padding-box;
    text-align: center;
    padding: 24px;
}

.m-2 .nav-link {
    font-size: 24px;
    text-decoration: none;
    color: black;
    margin: 1%;
}

.filter_img {
    height: 16px;
    width: 16px;
    margin-right: 5px;
}

.m-2 .btn,
.m-2 .btn:hover,.m-2 .btn:focus,.m-2 .btn:active, 
.m-2 .btn:active:focus:not(:disabled):not(.disabled),
.m-2 .btn:focus, .m-2 .btn:active, .m-2 .btn:hover{
    box-shadow: none!important;
    outline: none;
    background-color: transparent;
    color: black;
    border: 0px; 
    font-size: 16px;
}

.row .col-sm-6 {
    text-align: center;
}

.row .col-sm-6 .fade{
    display: inline-block;
}