.product_inner {
    position: relative;
}

.product_inner .product_top {
    max-height: 600px;
    position: relative;
    display: inline-block;
    width: 1024px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.product_img {
    height:600px;
    width: auto;
}

.product_name {
    height: 200px;
    width: 100%;
    text-align: left;
    padding: 30px;
    font-size: 42px;
    color: white;
    background-color: rgba( 57, 55, 55, 0.3);
    position: absolute;
    bottom: 0px;
}

.product_personal_color {
    background-color: #3E3F67;
    color: white;
    padding: 30px;
    position: absolute;
    top: -54px;
    left: 30px;
    font-size: 16px;
}

.product_info {
    color: white;
    width: 1024px;
    display: inline-block;
    position: relative;
}

.product_like {
    text-align: right;
    padding-right: 30px;
    padding-top: 30px;
    font-size: 16px;
}

.product_like .btn,
.product_like .btn:hover,.product_like .btn:focus,.product_like .btn:active, 
.product_like .btn:active:focus:not(:disabled):not(.disabled),
.product_like .btn:focus, .product_like .btn:active, .product_like .btn:hover {
    box-shadow: none!important;
    outline: none;
    background-color: transparent;
    color: white;
    border: 0px; 
}

.likebtn_img {
    width: 16px;
    height: 16px;
}

.liveRanking {
    color: #C644B9;
    font-size: 24px;
    text-align: left;
    padding-left: 30px;
}

.product_detail {
    padding-top: 60px;
}

.product_detail .left {
    text-align: left;
    padding-left: 45px;
}

.product_detail .right {
    text-align: left;
}

.right .btn,
.right .btn:hover,.right .btn:focus,.right .btn:active, 
.right .btn:active:focus:not(:disabled):not(.disabled),
.right .btn:focus, .right .btn:active, .right .btn:hover {
    box-shadow: none!important;
    outline: none;
    background-color: transparent;
    color: white;
    border: 0px; 
}

.right .btn {
    margin-top: 100px;
    font-size: 30px;
    color: #C4C4C4
}

.other_contents {
    color: white;
    text-align: left;
    padding-left: 30px;
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 30px;
}