doctype html
html(lang='en')
    head
        title signUp 
    body 
        form(action='/signUp' method='post')
            input(type="nickName" name="nickName" placeholder="nickName")
            input(type="password" name="password" placeholder="password")
            input(type="age" name="age" placeholder="age")
            input(type="personalColor" name="personalColor" placeholder="personalColor")
            button go!