.box{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
}
.app {
    width: 720px;
    min-width: 360px;
    height: 720px;
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    align-items: center;
    border: 1px solid;
    padding: 1rem;
    border-radius: 10px;
}

.myinfo-form{
    width: 500px;
    display:flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    /*align-items: center;*/
}
/*.ant-form-text{*/
/*    font-size: 3rem;*/
/*}*/
.info-signup-form-button{
    font-size: 1rem;
    width: 100%;
    height: 50px;
    background-color:black;
    color: white;
    border-radius: 5px;
}
.form-button{
    display:flex;
    justify-content: center;
    align-items: center;
}

.ant-form-item-label{
    width: 40%;
}
.ant-form-item-control-input {
    width: 250px;
}
.ant-form-item-label > label {
    font-size: 24px !important;
}
.ant-select-selection-item {
    font-size: 14px
}