.main_inner {
    text-align: center;
}

.main_top {
    width: 1024px;
    display: inline-block;
    text-align: left;
}

.profile {
    position: relative; 
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 30px;
}

.ant-card-body {
    background-color: #C4C4C4;
}

.main_bottom {
    background-color: #2F2F2F;
}

.interest_category {
    color: white;
    width: 1024px;
    display: inline-block;
    position: relative;
    padding: 30px;    
    text-align: left;
}

.interest_category .ant-row {
    margin: 15px;
    font-size: "16px";
}

.reloadBtn {
    margin-left: 5px;
    border-color: transparent !important;
}

.moreBtn {
    color: white !important;
}

/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.main {
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    width: 100%;
    height: 100%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.main-container {
    width: 100%;
    padding: 0 60px;
    margin: 0 30px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */