.box{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */

}
.app {
    width: 720px;
    min-width: 360px;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    padding: 1rem;
    border-radius: 10px;

}
.signup-form{
    width: 400px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#confirmPassword {
    font-size:1rem;
    width: 250px;
    height: 40px;
    margin: 10px;
}
.signup-form-button{
    font-size: 1rem;
    width: 100%;
    height: 30px;
    background-color:black;
    color: white;
    border-radius: 5px;
}
.form-button{
    display:flex;
    justify-content: center;
    align-items: center;
}
.signin-comment-box {
    width: 400px
}