.card-container {
    width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.site-card-border-less-wrapper {
    padding: 30px;
    background: #ececec;
}

.progress-container{
    display: flex;
    justify-content: space-around !important;
    width: 970px;
    marginTop: 100px;
}

.progress-container p{
    margin-bottom: 0 !important;
}