div .header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #2F2F2F;
}
div .utility{
    display: flex;
    flex-direction: row;
}